@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  margin: 2em;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 400;
  background-color: #00CDCF;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
}

.dashlist {
  float: left;
  width: 30%;
}

.selectedDetails {
  float: right;
  width: 70%;
}

h1 {
  opacity: 0.8;
  font-weight: 700;
  font-size: 200%;
}

.villains {
  list-style: none;
  padding-left: 1em;
}

.villains li {
  margin: 5px auto;
  display: block;
}

.villains li:hover {
  cursor: hand;
}

.villains .badge {
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  color: #00CDCF;
  width: 40px;
  text-align: center;
  border-radius: 10%;
  margin-right: 20px;
}

.villains li.selected{
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px;
  color: #00CDCF;
}

.villains li.selected .badge{
  background-color: transparent;
}

 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
